.work-group{
    display: flex;
    flex-direction: column;
    gap: 0.5%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    box-sizing:border-box;
  }
  
  .work-group .image-element{
    width: 100%;
    height: auto;
    max-height: 200px;
    padding: 10px 10px 5px 10px;
    box-sizing:border-box;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  /*place classed .el-data and .el-desc inlive*/
  .work-group .image-element .el-data{
    display: inline-block;
    background: transparent;
  }

  .work-group .image-element .el-data img:not(.logo-image) {
    max-height: 170px;
  }

  .work-group .image-element .el-desc{
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
  }

  .work-group .image-element .el-desc * {
    text-align: left;
    background: transparent !important;
  }

  .work-group .image-element .el-desc a, .work-group .image-element .el-desc a:hover, .work-group .image-element .el-desc a:visited{
    color: rgb(39, 39, 39);
  }