.work-group{
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .work-group .news-element{
    width: 100%;
    height: auto;
    padding: 10px 10px 5px 10px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление */
    justify-content: space-between; /* Распределяем пространство между элементами */
    max-height: 200px;
  }

  .news-element *{
    background: transparent;
    text-align: left;
  }

  .news-element hr{
    width: 100%; /* Убедитесь, что ширина 100% */
    border: none; /* Убираем стандартные границы */
    height: 1px; /* Устанавливаем высоту линии */
    background-color: rgba(98, 98, 98, 0.67); /* Устанавливаем цвет линии */
  }

  .news-element .title{
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
  }

  .news-element .description{
    margin-top: 8px;  /* Установите нужное значение */
    margin-bottom: 0px; /* Установите нужное значение */
    font-style: italic;
    font-size: 14px;
  }

  .news-element .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: -2px;
    margin-top: auto; /* Отодвигаем элемент info вниз */
  }

  .news-element .info .author{
    font-weight: bold;
    font-size: 14px;
  }

  .news-element .info .date{
    color: rgb(75, 75, 75);
    font-size: 14px;
  }

  .news-element:hover{
    background: #e3e5e8;
    color: white;
  }

  