@keyframes slideIn {
  from {
      transform: translateY(100%); /* Начальная позиция - ниже */
      opacity: 0; /* Начальная непрозрачность */
  }
  to {
      transform: translateY(0); /* Конечная позиция - на месте */
      opacity: 1; /* Конечная непрозрачность */
  }
}

.work-group{
    display: grid;
    background-color: transparent;
    grid-template-columns: 5fr 0.1fr 5fr;
    gap: 1%;
}

.input-text-group{
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.input-text-area{
    display: grid;
    grid-template-rows: 2fr;
    background: transparent;
}

.input-text-area .area{
    display: flex;
}

.input-text-area .template{
  display: flex;
  align-items: center;
  justify-items: center;
  max-height: 40px;
}


.input-text-area .template select{
  margin-right: 5px;
}

.rewrite-button-group{
    height: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.rewrite-buttons{
    background-color: transparent !important;
}

.rewrite-buttons form{
    background-color: transparent;
}

.rewrite-buttons *{
    margin-bottom: 20px !important;
}

.output-text-group{
    display: flex;
}

  .rewrite-button-group button{
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }

  .rewrite-button-group button:hover{
    width: 40px;
    height: 40px;
  }

  .input-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }

  .output-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }

  .template, .area {
    background: transparent;
  }

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #485867b6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  z-index: 1000;
  color: white;
  display: none;
  animation: slideIn 0.5s forwards;
}

.popup p {
  margin: 0 0 10px;
}

#closePopup {
  background-color: #2b3845;
  color: white; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#closePopup:hover {
  background-color: #2b3845; 
}

#closePopup:focus {
  outline: none; 
}

a {
  color: rgb(0, 255, 208); 
  font-weight: bold;
  background: transparent !important;
}