@keyframes slideIn {
  from {
      transform: translateY(100%); /* Начальная позиция - ниже */
      opacity: 0; /* Начальная непрозрачность */
  }
  to {
      transform: translateY(0); /* Конечная позиция - на месте */
      opacity: 1; /* Конечная непрозрачность */
  }
}

@keyframes slideOut {
  from {
      transform: translateY(0); /* Начальная позиция - ниже */
      opacity: 1; /* Начальная непрозрачность */
  }
  to {
      transform: translateY(100%); /* Конечная позиция - на месте */
      opacity: 0; /* Конечная непрозрачность */
  }
}

.work-group{
    display: grid;
    background-color: transparent;
    grid-template-columns: 5fr 0.1fr 5fr;
    gap: 1%;
}

.input-text-group{
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.input-text-area{
    display: grid;
    grid-template-rows: 2fr;
    background: transparent;
}

.input-text-area .area{
    display: flex;
}

.input-text-area .template{
  display: flex;
  align-items: center;
  justify-items: center;
  max-height: 40px;
}


.input-text-area .template select{
  margin-right: 5px;
}

.rewrite-button-group{
    height: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.rewrite-buttons{
    background-color: transparent !important;
}

.rewrite-buttons form{
    background-color: transparent;
}

.rewrite-buttons *{
    margin-bottom: 20px !important;
}

.output-text-group{
    display: flex;
}

  .rewrite-button-group button{
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }

  .rewrite-button-group button:hover{
    width: 40px;
    height: 40px;
  }

  .input-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }

  .output-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }

  .template, .area {
    background: transparent;
  }

  .none-display{
    display: none;
  }
  .popup-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background:none;
    padding: 30px;
    z-index: 1000;
    color: white;
    display: none;
    animation: slideIn 0.5s forwards;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }

  .popup {
    background-color: #485867b6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    color: white;
    width: 300px;
    display: flex;
    margin-bottom: 5px; /* Отступ между попапами */
    margin-right: 10px;
    flex-direction: column; /* Располагаем элементы вертикально */
    align-items: center; /* Центрируем содержимое по горизонтали */
    animation: slideIn 0.5s forwards; /* Анимация появления */
  }

  .popup.slide-out {
    animation: slideOut 0.5s forwards; /* Анимация исчезновения */
}
  
  .popup p {
    margin: 0 0 10px;
  }
  
  .button-container {
    background: none;
    display: flex; /* Используем flexbox для размещения кнопок в строку */
    justify-content: space-between; /* Распределяем кнопки по горизонтали */
    width: 70%; /* Занимаем всю ширину родительского элемента */
    margin-top: 10px; /* Отступ сверху для разделения от текста */
    gap: 0;
  }

  .button-container button {
    margin: 0; /* Убираем отступы между кнопками */
  }

  .popup button {
    flex: 1; /* Кнопки займут равное пространство */
    max-width: 100px; /* Максимальная ширина кнопок */
    height: 40px; /* Фиксированная высота */
    padding: 0px;     
    border: none; 
    background-color: #2b3845; 
    color: white;           
    cursor: pointer;        
    box-sizing: border-box; 
    transition: background-color 0.3s; 
    text-align: center; 
    margin: 0;
  }

.popup button:hover {
    background-color: #9f9f9f; 
}

.popup button:focus {
    outline: none; 
}
  
  a {
    color: rgb(0, 255, 208); 
    font-weight: bold;
    background: transparent !important;
  }

  .popup.slide-out {
    animation: slideOut 0.5s forwards;
  }