  
.work-group{
    display: grid;
    background-color: transparent;
    grid-template-columns: 5fr 0.1fr 5fr;
    gap: 1%;
}

.input-text-group{
    display: grid;
    grid-template-rows: 3fr 1fr;;
}

.input-text-area{
    display: grid;
    grid-template-rows: 2fr;
    background: transparent;
}

.input-text-area .area{
    display: flex;
}

.input-text-area .template{
  display: flex;
  align-items: center;
  justify-items: center;
  max-height: 40px;
}
.input-text-area .template p{
  margin-left: 10px;
  margin-right: 10px;
}

.input-text-area .template select{
  width: 60%;
  max-height: 50%;
}

.rewrite-button-group{
    height: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.rewrite-buttons{
    background-color: transparent !important;
}

.rewrite-buttons form{
    background-color: transparent;
}

.rewrite-buttons *{
    margin-bottom: 20px !important;
}

.output-text-group{
    display: flex;
}

  .rewrite-button-group button{
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }

  .rewrite-button-group button:hover{
    width: 40px;
    height: 40px;
  }

  .input-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }

  .output-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }

  .template, .area {
    background: transparent;
  }