.work-group{
  height: 100%;
    display: grid;
    background-color: transparent;
    grid-template-columns: 5fr 0.1fr 5fr;
    column-gap: 1%;
}

.input-text-group{
  height: 100%;
  display: flex;
}

.rewrite-button-group{
    height: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.rewrite-buttons{
    background-color: transparent;
}

.rewrite-buttons *{
    margin-bottom: 20px;
}

.output-text-group{
    display: flex;
}

  .rewrite-button-group button{
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }

  .rewrite-button-group button:hover{
    width: 40px;
    height: 40px;
  }

  .input-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }

  .output-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
  box-sizing: border-box;
  }