  
  /* Добавляем оформление элементам grid-контейнера: */
  .container * {
    border-radius: 5px; /* Скругляем углы на 5 пикселей */
    background-color: #f8f9f9;
    text-align: center; /* Контент размещаем в центре по горизонтали */
  }

 /* Добавляем оформление grid-контейнеру:*/
  .container {
    height: 99vh;
    width: 90vw;
    max-width: 90vw;
    min-width: 90vw;
    margin: 0 auto;
    border-radius: 3px;  /*Скругляем углы на 5 пикселей */
  }
  
   /*Параметры grid-контейнера */
  .container {
    display: grid;
    column-gap: 1%;
    row-gap: 0.8%;
    /*grid-template-rows: 0.5fr 0.5fr 7fr;*/
    
    grid-template: 
          "b b b" 10vh
          "a c c" 80vh
          ". d d" auto;
  }

.header-buttons{
  grid-area: a;
}

.header-group{
  grid-area: b;
}

.work-group{
  grid-area: c;
  min-width: 75vw;
  max-width: 75vw;
}

.bottom-group{
  grid-area: d;
}


  .header-group{
    min-height: 73px;
    max-height: 73px;
  }
  
  /*Параметры конйтейнеров внутри grid-блока*/
  .header-buttons{
    height: 5%;
    min-width: 200px;
    max-width: 200px;
    justify-items: start;
    align-items: center;
  }

  .header-buttons button{
    font-size: 12px;
  }
  
  .header-group{
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display:flex;
  }

  .bottom-group{
    justify-content: center;
    display: flex;
    max-height: 40px;
  }
  
  
  
  
  /*Отдельные элементы в блоках*/
  
  .header-buttons *{
    height: 100%;
    width: 100%;
    min-height: 33px;
    max-height: 33px;
    border-radius: 5px;
    margin-bottom: 3px;
  }
  
  .header-group img{
    height: 35px;
  }
  
  .bottom-group button{
    width: 33.3333%;
    min-height: 40px;
    max-height: 40px;
    float: left;
  }
  
  /*Нижние кнопки слева направо*/
  .b1{
    border-radius: 5px 0px 0px 5px;
  }
  
  .b2{
    border-radius: 0px;
  }
  
  .b3{
    border-radius: 0px 5px 5px 0px;
  }

  /*Кнопка перехода на страницу с примерами промтов*/

  .help-button{
    font-size: 20px;
    background-color: lightgray;
    border: none;
    color: black;
}

.help-button:hover{
    background-color: gray;
    border: none;
}

form{
    background: transparent;
}