body {
    font-family: "PT Sans";
    font-size: 14px;
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
}

.button{
    background-color: rgba(43, 114, 75, 0.719);
    border: none;
    color: white;
}

.button:hover{
    background-color: #104d2a;
    border: none;
}

button:disabled,
button[disabled]{
    background-color: grey;
    cursor: not-allowed;
}

button:disabled:hover,
button[disabled]:hover{
    background-color: grey;
    cursor: not-allowed;
}

textarea{
    resize: none;
}

.checkbox{
    vertical-align: middle; 
    margin: 2px; 
    margin-right: 5px;
}

.header-button{
    background-color: rgba(43, 114, 75, 0.448);
    border: none;
    color: white;
    border: 0.3px solid black;
  }

.header-button:hover{
    background-color: #104d2a;
}

.upper-bold{
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    margin-left: 10px;
    margin-right: 5px;
}