  html, body {
    height: 100%;
    margin: 0;
  }

  /* Добавляем оформление элементам grid-контейнера: */
  .container * {
    border-radius: 5px; /* Скругляем углы на 5 пикселей */
    background-color: #ffffff6d;
    text-align: center; /* Контент размещаем в центре по горизонтали */
  }

 /* Добавляем оформление grid-контейнеру:*/
  .container {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    width: 94vw; /* Ширина 94% от ширины окна */
    height: 99vh; /* Высота 99% от высоты окна */
    margin: 10px auto 0; /* Авто-отступы для центрирования */
    border-radius: 3px; /* Скругляем углы */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине и высоте */
  }
  
   /*Параметры grid-контейнера */
  .container {
    display: grid;
    column-gap: 0.5%;
    row-gap: 0.5%;
    
    grid-template: 
          "b b b" 8%
          "a c c" 85%
          ". d d" 6%;
    
    justify-content: center; /* Центрируем содержимое */
    padding: 0 20px; /* Устанавливаем одинаковые отступы слева и справа */
    max-width: 1200px; /* Устанавливаем максимальную ширину контейнера */
    width: 100%; /* Ширина 100% от родительского элемента */
    height: 99vh; /* Высота 99% от высоты окна */
    margin: 10px auto 0; /* Авто-отступы для центрирования */
    border-radius: 3px; /* Скругляем углы */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине и высоте */
    
  }

.header-buttons{
  grid-area: a;
  width: 16vw;
  min-width: 150px;
  max-width: 230px;
}

.header-group{
  grid-area: b;
}

.work-group{
  grid-area: c;
  width: 80vw;
}

.bottom-group{
  grid-area: d;
}
  
  /*Параметры конйтейнеров внутри grid-блока*/
  .header-buttons{
    justify-items: start;
    align-items: center;
    background: transparent;
  }
  
  .header-group{
    justify-content: center;
    justify-items: center;
    align-items: center;
    display:flex;
  }

  .bottom-group{
    justify-content: center;
    display: flex;
    background: transparent;
  }
  
  
  
  
  /*Отдельные элементы в блоках*/
  
  .header-buttons *{
    font-size: 12px;
    height: 100%;
    width: 100%;
    min-height: 33px;
    max-height: 33px;
    border-radius: 5px;
    margin-bottom: 3px;
    background: transparent;
  }

  .header-group * {
    background: transparent;
  }
  
  .header-group img{
    height: 35px;
  }

  .work-group p,
  .work-group abbr,
  .work-group label{
    background: transparent;
  }
  
  .bottom-group button{
    width: 33.3333%;
    max-height: 40px;
    float: left;
  }
  
  /*Нижние кнопки слева направо*/
  .b1{
    border-radius: 5px 0px 0px 5px;
  }
  
  .b2{
    border-radius: 0px;
  }
  
  .b3{
    border-radius: 0px 5px 5px 0px;
  }

  /*Кнопка перехода на страницу с примерами промтов*/

  .help-button{
    font-size: 20px;
    background-color: lightgray;
    border: none;
    color: black;
}

.help-button:hover{
    background-color: gray;
    border: none;
}

.help-button{
  cursor: help;
}