
body {
    font-family: "PT Sans";
    overflow: hidden;
    font-size: 14px;
    background: #edeef0;
}

.container * {
    color: black;
    border-radius: 5px;
    text-align: center; /* Контент размещаем в центре по горизонтали */
  }

  .header-group{
    background: #fff;
    width: 100%;
    border-radius: 0;
  }

  .header-group * {
    background: transparent;
  }

.button, .header-button, .help-button{ 
    border: none;
    color: #000;
}

.button, .help-button{
    background: #e2e2e3;
    color: #456FAC;
    font-weight: bold;
}

.header-button{
    text-align: left;
}

.button:hover, .header-button:hover, .help-button:hover{
    cursor: pointer;
    background: #e3e5e8;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
    background-color: #e2e2e3; 
    cursor: not-allowed;
}

textarea{
    resize: none;
}


.header-button:hover{
    cursor: pointer;
}

.upper{
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.upper-bold{
    font-weight: bold;
    text-transform: uppercase;
}

select, input[type="file"], input[type="checkbox"] {
    cursor: pointer;
}

input[type="url"], input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    cursor: text;
}

a, a:hover {
    text-decoration: none;
}

p, a, h1, h2, h3, label, form, .nobg{
    background: transparent;
}

a, a:hover{
    text-decoration: none;
}

.clr{
    color: #000;
    background: #fff;
}

.popup a{
    color: blue;
    font-size: 18px;
    font-weight: bold;
}

.active-button{
    background-color: #e3e5e8;
    color: black;
}