{{template "header.html" .}}
<div class="work-group">
    <div class="user-info clr">
        <p class="nobg">Имя: <b class="nobg">{{.FirstName}}</b></p>
        <p class="nobg">Фамилия: <b class="nobg">{{.LastName}}</b></p>
        <p class="nobg">ID: <b class="nobg">{{.UserID}}</b></p>
        <p class="nobg">E-mail: <b class="nobg">{{.Email}}</b></p>
    </div>
    <h3 class="group-header clr">Последние операции</h3>
    <div class="operations">

       <div class="list">
        <h3 class="list-header clr">Генерация картинок</h3>
         <div class="elements">
            {{range .Images}}
            <a href="/protected/operation/{{.ID}}" class="nobg" target="_blank">
            <div class="element">
                <div class="data nobg">
                <p>{{.Placeholder}}</p>
                </div>
                <div class="date nobg">
                <p class="nobg">{{.Date}}</p>
                </div>
            </div>
        </a>
            {{end}}
         </div>
       </div>

       <div class="list">
        <h3 class="header clr">Обработка текста</h3>
        <div class="elements">
           {{range .Texts}}
           <a href="/protected/operation/{{.ID}}" target="_blank">
           <div class="element">
            <div class="data">
                <p>{{.Placeholder}}</p>
                </div>
                <div class="date">
                <p>{{.Date}}</p>
                </div>
           </div>
        </a>
           {{end}}
        </div>
      </div>

      <div class="list">
        <h3 class="list-header clr">Расшифровка</h3>
        <div class="elements">
           {{range .Recognitions}}
           <a href="/protected/operation/{{.ID}}" target="_blank">
           <div class="element">
            <div class="data">
                <p>{{.Placeholder}}</p>
                </div>
                <div class="date">
                <p>{{.Date}}</p>
                </div>
           </div>
        </a>
           {{end}}
        </div>
      </div>

    </div>
</div>
{{template "footer.html" .}}