<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="web/styles/auth/registration.css">
    <meta property="og:title" content="Neuron-Nexus / Служба Новостей">
    <meta property="og:description" content="Нейросетевая служба новостей">
    <meta property="og:image" content="/web/static/img/og.jpg">
    <meta property="og:url" content="https://neuron-nexus.ru/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Neuron Nexus"> 
</head>

<body>
    <div class="registration-group">
            <h2>АВТОРИЗАЦИЯ</h2>
        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Пароль</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <button type="button" id="togglePassword" class="toggle-button">
                    <img src="web/static/img/auth/view.png" alt="Показать пароль" id="passwordIcon">
                </button>
            </div>
        </div>
    <a href="/register" id="linkText">Зарегистрироваться?</a>    
    <button id="registerButton">Войти</button>
    </div>
    <script src="web/scripts/auth/reg-join.js"></script>
    <script src="{{.script}}"></script>
</body>
</html>