{{template "header.html" .}}
<div class="work-group">
    <div class="name-type">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    </div>
    <div class="mainbox">
        <p class="err">404</p>
        <p class="msg">Может быть, эта страница переехала? Была удалена? Скрывается в карантине? Или вообще никогда не существовала? Давайте перейдем <a href="/protected/">на главную</a> и попробуем оттуда.</p>
      </div>
</div>
{{template "footer.html" .}}