<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="web/styles/auth/registration.css">
</head>

<body>
    <div class="registration-group">
            <h2>РЕГИСТРАЦИЯ</h2>
            <div class="form-group">
                <label class="required" for="name">Имя</label>
                <input type="text" id="first_name" name="name" placeholder="Иван" required>

                <label class="required" for="secname">Фамилия</label>
                <input type="text" id="last_name" name="secname" placeholder="Иванов" required>

                <label class="required" for="email">Электронная почта</label>
                <input type="email" id="email" name="email" placeholder="ivanov@realnoevremya.ru" required>

                <label class="required" for="password">Пароль</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" required>
                    <button type="button" id="togglePassword" class="toggle-button">
                        <img src="web/static/img/auth/view.png" alt="Показать пароль" id="passwordIcon">
                    </button>
                </div>

                <label class="required" for="rep-password" id="rep_password">Повторите пароль</label>
                <div class="rep-password-container">
                    <input type="password" id="rep-password" name="rep-password" required>
                    <button type="button" id="toggleRepPassword" class="toggle-button">
                        <img src="web/static/img/auth/view.png" alt="Показать повторный пароль" id="repPasswordIcon">
                    </button>
                </div>
            </div>
        <a href="/login" id="linkText">Уже есть аккаунт?</a>
        <button id="registerButton">Зарегистрироваться</button>
    </div>
    <script src="web/scripts/auth/reg-join.js"></script>
    <script src="{{.script}}"></script>
</body>
</html>