  
.work-group{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1%;
    background: transparent;
}

.work-group textarea{
    text-align: left;
    color: black;
    padding: 10px;
    font-size: 19px;
    box-sizing: border-box;
}

    .input-group{
        display: grid;
        grid-template-rows: 9fr 0.5fr;
        gap: 1%;
        background: transparent;
        margin: 10px 0 36px 0;
    }

        .prompt-area{
            width: 100%;
            display: flex;
        }

            .prompt-area *{
                flex: 1;
                margin: 10px 10px 10px 10px;
            }

        .seed-area{
            width: 100%;
            font-size: 19px;
            grid-template-columns: 2fr 2fr 1fr;
            display: grid;
        }
            .seed-area * {
                flex: 1;
                margin: 10px 0 10px 20px;
            }

            .left-align {
                text-align: left;
            }
            .seed-align {
                text-align: left;
            }

    .output-image-group{
        display: grid;
        grid-template-rows: 4fr 0.1fr;
        row-gap: 1%;
        background: transparent;
    }

        .output-image-class{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .output-image-class img{
            background: transparent;
            display: block;
            border-radius: 5px;
            max-width: 90%;
            max-height: 65vh;
            margin: 10px;
            object-fit: contain
        }

        .output-image-group *{
            flex: 1;
            margin: 10px 10px 10px 0;
        }

        .output-image *{
            flex: 1;
            margin: 10px 10px 10px 0;
        }