  
.work-group{
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 0.5%;
    background: transparent;
}

.work-group textarea{
    text-align: left;
    color: black;
    padding: 10px;
    font-size: 19px;
    box-sizing: border-box;
}

    .input-group{
        display: grid;
        grid-template-rows: 9fr 1fr;
        row-gap: 0.5%;
        background: transparent;
    }

        .prompt-area{
            width: 100%;
            display: flex;
        }

            .prompt-area *{
                flex: 1;
                margin: 5px;
            }

        .seed-area{
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .seed-area * {
                flex: 1;
            }

            .seed-align{
                text-align: center;
                color: rgb(0, 255, 208);
            }

    .output-image-group{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
        .output-image-group img{
            display: block;
            border-radius: 5px;
            border: solid 1px black;
            max-width: 99%;
            max-height: 80vh;
            margin: 10px;
        }