.mainbox {
  background-color: #373737;
  border-radius: 15px;
  margin: auto;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

  .err {
    color: #ffffff;
    font-family: 'PT Sans';
    font-size: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

.msg {
  margin-top: 0;
  color: #ffffff;
  text-align: center;
  font-family: 'PT Sans';
  font-size: 30px;
  width: 90%;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 255, 208);
  }
  
  a:hover {
    text-decoration: underline;
  }