  
.work-group{
    display: grid;
    background-color: transparent;
    grid-template:
      "a a" 5%
      "b c" auto;
    gap: 1%;
  }

  .filenameurl{
    grid-area: a;
    display: flex;
    align-items: center;
  }

  .filenameurl a{
    background: none;
    color: rgb(0, 255, 208);
  }

  .filenameurl p{
    flex: 1;
    font-size: 20px;
    text-align: center;
  }
  
  .input-text-group{
    grid-template-rows: 0.5fr 12fr;
    display: grid;
    grid-area: b;
  }
  
  .output-text-group{
    grid-template-rows: 0.5fr 12fr;
    display: grid;
    grid-area: c;
  }
  
  .input-text-group p{
    text-align: left;
    font-size: 20px;
    margin: 10px 0 10px 5px;
  }

  .output-text-group p{
    text-align: left;
    font-size: 20px;
    margin: 10px 0 10px 5px;
  }

  .input-text-group textarea{
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .output-text-group textarea{
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
    box-sizing: border-box;
  }