  
.work-group{
    display: grid;
    background-color: transparent;
    grid-template-columns: 5fr 0.1fr 5fr;
    gap: 1%;
}

.input-text-group{
    background-color: #edeeee;
    display: grid;
    grid-template-rows: 3fr 1fr;;
}

.input-text-area{
    display: flex;
}

.rewrite-button-group{
    height: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.rewrite-buttons{
    background-color: transparent !important;
}

.rewrite-buttons form{
    background-color: transparent;
}

.rewrite-buttons *{
    margin-bottom: 20px !important;
}

.output-text-group{
    background-color: #edeeee;
    display: flex;
}

  .rewrite-button-group button{
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }

  .rewrite-button-group button:hover{
    width: 40px;
    height: 40px;
  }

  .input-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    background-color: white;
  }

  .output-text-group textarea{
    flex: 1;
    font-size: 20px;
    margin: 0.5%;
    text-align: left;
    line-height: 1.5em;
    background-color: white;
  }