{{ define "title" }}Расшифровка аудио{{ end }}

{{ define "content" }}
<div class="file-group">
  <input type="file" class="input-field" name="filePath" id="fileInput" accept="audio/*,video/*,.flv,.mkv">
</div>
<div class="language-group">
  <p class="help-text">Выберите язык для расшифровки</p>
  <select class="select" id="languageSelect" name="language">
    <option value="ru-RU">Русский</option>
    <option value="en-US">Английский</option>
    <option value="de-DE">Немецкий</option>
    <option value="es-ES">Испанский</option>
    <option value="fi-FI">Финский</option>
    <option value="fr-FR">Французский</option>
    <option value="pl-PL">Польский</option>
    <option value="he-HE">Иврит</option>
    <option value="it-IT">Итальянский</option>
    <option value="kk-KZ">Казахский</option>
    <option value="nl-NL">Голландский</option>
    <option value="pt-PT">Портунальский</option>
    <option value="pt-BR">Бразильский порт.</option>
    <option value="sv-SE">Шведский</option>
    <option value="tr-TR">Турецкий</option>
    <option value="uz-UZ">Узбецкий (латиница)</option>
  </select>
  <button class="button" id="recognizeButton">Расшифровать</button>
</div>
<div class="normalize-group">
  <input type="checkbox" name="dialog" class="checkbox" name="check" id="dialog" value="dialog">
  <label for="dialog" style="margin-right: 30px;"><abbr title="Включить, если необходимо разделение голосов ДВУХ разных людей">Диалог</abbr></label>
  <input type="checkbox" name="normalize" class="checkbox" id="normResult" value="norm" checked disabled>
  <label for="normResult"><abbr title="Нормализация — расстановка знаков препинания и абзацев">Нормализованный результат</abbr></label>
  <img src="https://imgs.search.brave.com/Lk7NL1lxotixVZUudspTuazVpE8zkumy6kH3VLbpll0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTQw/NTY3MTkwL3J1LyVE/MCVCMiVEMCVCNSVE/MCVCQSVEMSU4MiVE/MCVCRSVEMSU4MCVE/MCVCRCVEMCVCMCVE/MSU4Ri8lRDAlQjcl/RDAlQkQlRDAlQjAl/RDElODclRDAlQkUl/RDAlQkEtJUQwJUI3/JUQwJUJEJUQwJUIw/JUQwJUJBLSVEMCVC/MiVEMCVCRSVEMCVC/RiVEMSU4MCVEMCVC/RSVEMSU4MSVEMCVC/MC0lRDAlQkElRDEl/ODMlRDAlQkIlRDEl/OEMlRDElODIlRDAl/QkUlRDAlQjIlRDAl/QjAlRDElOEYtJUQx/JTgxJUQwJUI1JUQx/JTgwJUQwJUI4JUQx/JThGLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz1haTRtNVNZ/dUlkR3NxV2cxUE9o/aFU1ZTREc2M0Znd3/RGVBSkFjUFlrWXJJ/PQ" height="32"
      onclick="javascript:alert('Нормализация – это процесс расстановки знаков препинания и заглавных букв. ' + 
      'Здесь мы используем нейросеть, поэтому она может заменять окончания и даже целые слова, но с сохранением контекста');" 
      alt="Нормализация – это процесс расстановки знаков препинания и заглавных букв">
</div>
<div class="output-group">
  <textarea class="output-area" id="outputArea" placeholder="Здесь появится расшифровка вашего текста" readonly></textarea>
</div>
<div class="bottom-group">
  <button class="button b1" id="saveFile" disabled>Сохранить</button>
  <button class="button b2" id="copyText" disabled>Скопировать</button>
  <button class="button b3" id="resetButton" disabled>Восстановить</button>
</div>
{{ end }}