{{ define "title" }}Рерайт текста{{ end }}

{{ define "content" }}
<div class="work-group">
<div class="input-text-group">
    <textarea class="output-area" id="inputArea" placeholder="Введите сюда текст"></textarea>
</div>
<div class="rewrite-button-group">
    <div class="rewrite-buttons">
        <button class="button rewrite-button" id="rewriteButton">>>></button>
    </div>
</div>
<div class="output-text-group">
    <textarea class="output-area" id="outputArea" readonly placeholder="Здесь появится обработанный текст"></textarea>
</div>
</div>
<div class="bottom-group">
    <button class="button b1" id="saveFile" disabled>Сохранить</button>
    <button class="button b2" id="copyText" disabled>Скопировать</button>
    <button class="button b3" id="resetButton" disabled>Восстановить</button>
</div>
{{ end }}